.mandatory {
    color: #b71c1c;
}

#error{
    color: #b71c1c;
}

#loader-container {
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999999;
    opacity: 0.8;
    overflow: hidden;
    height: 100%;
}

#loader {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
}

.welcome-left {
    height: 515px;
}

.welcome-right {
    height: 515px;
    padding-left: 150px;
}

.featurette-divider {
    margin: 5rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.05rem;
}

@media (min-width: 40em) {
    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.list-group-list-heading {
    font-size: 1rem;
    font-weight: 500;
}
