<h1>
    Task Board 
</h1>


<form id = "createNewList" action = "/tasklists" method=  "POST">

    <label>
        Create a new list:
        <br>
        <input type = "text" name= "listName" placeholder="name of new list">
    </label>

    <label>
        <button type="submit">Create</button>
    </label>
</form>

<ul id = "taskLists_on_board">
    {{#each taskLists}}

    {{!-- <li>{{this.listName}}</li> --}}

    <li><a href = "/tasks/{{this._id}}">{{this.listName}}</a></li>


    {{/each}}
</ul>