<div class="container d-flex flex-column mt-4">
    <div class="row align-items-center justify-content-center g-0">
        <div class="col-lg-5 col-md-8 py-8 py-xl-0">
            <div class="card shadow">
                <div class="card-body p-6">
                    <div class="mb-4">
                        <h1 class="mb-1 fw-bold">Task Board</h1>
                    </div>

                    <form id="createNewList" action="/tasklists" method="POST">

                        <label for="listName" class="form-label">Task list name<span class="mandatory">*</span></label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="listName" name="listName"
                                placeholder="name of new list">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Create</button>
                        </div>
                        
                        <p id="error" class="error"></p>
                    </form>

                    <div class="list-group">
                        {{#each taskLists}}
                        <a href="/tasks/tasksfortasklist/{{this._id}}"
                            class="list-group-item list-group-item-action">{{this.listName}}</a>
                        {{/each}}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="/public/js/addTaskList.js"></script>
