<div class="container">
    <div class="row mt-5">
        <div class="col">
            <img src="public/images/welcome-left.png" alt="Man using task prioritization app on computer"
                class="welcome-left">
        </div>
        <div class="col text-center">
            <h1 class="display-5 fw-bold mt-5">Tame your work, organize your life</h1>
            <div class="col-lg-6 mx-auto mt-4">
                <p class="lead mb-4">Task Prioritization gives you focus, from work to play.</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    <a href="/" class="btn btn-primary btn-lg px-4 gap-3">Get Started</a>
                </div>
            </div>
        </div>
        <div class="col">
            <img src="public/images/welcome-right.png" alt="Woman using task prioritization app on computer"
                class="welcome-right">
        </div>
    </div>
</div>