<form action="/search" method="POST" class="new-search-form">

                            <div class="col col-4">
                                <label for="first-name" class="mr-3">First Name</label>
                            </div>
                            <div class="col">
                                <input type="text" id="first-name" class="rounded p-1" placeholder="{{firstName}}" >
                            </div>
                        </div>
                  
            
                    </div>
                    <div class="col">
                        <div class="container row mb-3">
                            <div class="col col-4">
                                <label for="last-name" class="mr-3">Last Name</label>
                            </div>
                            <div class="col">
                                <input type="text" id="last-name" class="rounded p-1" placeholder="{{lastName}}" >
                            </div>
                        </div>
                        <div class="container row mb-3">
                            <div class="col col-4">
                                <label for="email">Email</label>
                            </div>
                            <div class="col">
                                <input type="text" id="email" class="rounded p-1" placeholder="{{email}}" >
                            </div>
                        </div>
                          <div class="container row mb-3">
                            <div class="col col-4">
                                <label for="DOB">Date Of Birth</label>
                            </div>
                            <div class="col">
                                <input type="text" id="email" class="rounded p-1" placeholder="{{dateOfBirth}}" >
                            </div>
                           
         <div class="form-group">
        <button type="submit" class="btn btn-default">UPDATE INFO</button>
      </div>
       <input name= '_method' value="PUT" hidden/>
  </form>



  
